<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Relatorios.My.MySettings.CadVetConnectionString" connectionString="Dsn=SqlVet;description=SqlVet;trusted_connection=Yes;app=Microsoft® Visual Studio®;wsid=LAPTOP-7DFB87U7;database=CadVet;uid=sa;pwd=nunsey"
            providerName="System.Data.Odbc" />
        <add name="Relatorios.My.MySettings.CadVetConnectionString1"
            connectionString="Data Source=SRVMYPETS;Initial Catalog=CadVet;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Relatorios.My.MySettings.ConnectionString" connectionString="Dsn=SqlRpt;uid=rpt"
            providerName="System.Data.Odbc" />
        <add name="Relatorios.My.MySettings.CadVet_RolReceita" connectionString="Data Source=SRVMYPETS;Initial Catalog=CadVet;Persist Security Info=True;User ID=sa;Password=nunsey"
            providerName="System.Data.SqlClient" />
        <add name="Relatorios.My.MySettings.ccs_CadVet" connectionString="Data Source=SRVMYPETS;Initial Catalog=CadVet;Persist Security Info=True;User ID=rpt;Password=123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- Esta seção define a configuração de log para My.Application.Log-->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog" />
                    <!-- Descomente a seção abaixo para escrever um Evento de Log da Aplicação -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
            <!-- Descomente a seção abaixo e substitua APPLICATION_NAME pelo nome do seu aplicativo para escrever no Log de Eventos do Aplicativo -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.ProcessingObjectModel" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.DataVisualization" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
